@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Indie+Flower&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: all ease-in-out 250ms;
}

body{
    font-family: 'Caveat', cursive;
    text-align: center;
    margin: 0;
}

img{
    max-width: 100%;
    height: auto;
}

.container{
    width: 95%;
    max-width: 70em;
    margin: 0 auto;
}

.clearfix::after,
section::after,
footer::after{
content: ' ';
display: block;
clear: both;
}
/* column System
==============================*/

[class^=col-] {
    width: 100%;
    margin-top: 1em;
}

[class^=col-]:first-child{
   margin-top: 0;
 }

 .col-1{
     width: 33.33333334%;
     float: left;
     font-size: 1.5rem;
 }


 .col-3{
     font-size: 1.5rem;
 }


@media(min-width:40rem) {
    [class^=col-] {
        float: left;
        padding: 0 0.5em;
        margin-top: 0;
    }
  
    [class^=col-]:first-child{
        padding-left: 0;
     }
     [class^=col-]:first-child{
         padding-right: 0;
     }
     
     .col-3 {
         width: 50%;
     }
     
     .col-1 {
         width: 16.6666%;
     }
}

/* typography
==============================*/
h1{
    font-weight: 300;
    font-size: 1.7rem;
    margin-top: 0;
}

p{
    margin-top: 0;
    line-height: 1.5;
}

p:last-of-type {
    margin-bottom: 0;
}

.heading{
    font-size: 2.8em;
    margin-bottom: 1.5em;
    color: wheat;
    font-weight: 900;
    margin-top: 1em;
}

.heading span{
    display: block;
    font-size: 0.8em;
    font-weight: 300;

}

.callus-heading{
    margin:0 0 0.5em;
    /* color: #fff; */
}

.unstyled-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

@media(min-width:60rem){
   p{
       font-size: 1.2rem;
       line-height: 1.6;
   }

  .heading{
      font-size: 4rem;
  }
}

.button{
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 2px;
    border-style: solid;
    padding: 0.5em 1.8em;
}
@media(min-width:60rem) {
    .button{
        font-size: 2rem;
    }
  }

.button-small{
    font-size: 0.8rem;
    font-weight: 700;
}

.button-light{
    color: #00ff6c;
    border-color: #00ff6c;
}

.button-dark{
    color: #232323;
    border-color: #232323;
}

.button-light:hover,
.button-light:focus{
    background-color: #00ff6c;
    color: #232323;
}

.button-dark:hover,
.button-dark:focus{
    background-color: #232323;
    color: #00ff6c;
}

/* Parallax
==============================*/
.parallax-effect,
.parallax-box {
    transition: initial;
}


/* Header
==============================*/
header{
    position: absolute;
    left: 0;
    right: 0;
    margin:2em;
}
.logo{
    margin-top: -1em;
    border-radius: 50%;
}

/* header img{
    height: 150px;
} */

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li{
    display: inline-block;
   margin: 0 1em 1em;
    
}

nav a{
    font-weight: 700;
    font-size: 1.3rem;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5em;
    color: #fff;
}

nav a:hover,
nav a:focus{
    color: rgb(150, 236, 111);
}


@media(min-width:60rem){
   .logo{
       float: left;
   }

   nav{
       float: right;
   }
  }

/* Heading page
==============================*/

.main-page{
    background: url(./Projects-images/back.jpg) no-repeat;
    padding: 15em 0;
    background-position: center ;
    background-size: cover;
    color: #fff;
    /* background-attachment: fixed; */
}

@media(min-width:60rem){
.main-page{
    background-image: url(./Projects-images/back_big.jpg);
    height: 100vh;
    padding: 12em 0;
}
}

/* About Page
==============================*/
.about-text{
    background-color: #232323;
    padding: 4em;
    border-radius: 1em;
    width: 100vw;
    margin-left: -2.6%;
    outline: 2px solid #00ff6c;
    outline-offset: -2.5em;
    color: white;
    position: relative;
}
.about-text p{
    font-size: 1.3em;
}
.about-text h1{
    color: #00ff6c;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0.75em;
    background-color: #232323;
    padding: 0 0.145em;
}

@media(min-width:25rem){
    h1{
        font-size: 2rem;
    }
    .about-text h1{
        top: 0.6em;
        padding: 0 0.325em;
    }
}

@media(min-width:60rem){
    h1{
        font-size: 2.5rem;
    }
    .about{
      background-image: url(./Projects-images/who.jpg);
      background-repeat: no-repeat;
      padding-bottom: 10em;
      background-position: center;
      background-size: cover;
    }

    .about-text{
        width: 50%;
        margin-left: -2.6%;
        top: -4.5em;
        text-align: left;
        box-shadow: 0 0 4em 0 rgba(0, 0, 0, 0.3 );
    }
    .about-text h1{
        top: 0.3em;
        left: 3.25rem;
        transform: translateX(0);
        
    }
}

/* Project Part
==============================*/
 
.projects{
    margin: 3em 0 0;
}

.project-item{
    margin: 0;
    position: relative;
}

.project-item img{
   display: block;
}


.project-desc{
    position: absolute;
    z-index: 100;
    bottom: 0em;
    left: 0em;
    right: 0em;
    color: #fff;
    background: rgba(0,0,0,0.6);
    padding-bottom: 2em;

}

.project-desc p{
    margin:1em ;
}

@media (min-width: 37rem) {
    .project-item{
        width: 50%;
        float: left;
    }
}

@media (min-width: 60rem) {
    .project-item{
        width: 33.33333334%;
        overflow: hidden;
    }
    .project-desc {
        transform: translateY(150%);
    }
    .project-item:hover .project-desc{
        transform: translateY(0%);
    }
}

/* Hire us
==============================*/
.callus{
    background-color: #00ff6c;
    padding: 5em 0;
}

/* 
.heading {
    font-size: 2.8em;
    margin-bottom: 1.5em;
    color: #00ff6c;
    font-weight: 900;
    margin-top: 1em;
} */


/* footer
==============================*/
footer{
    background-color: #232323;
    color: #fff;
    text-align: left;
    padding: 5em 0;
}

li a{
    color: #00ff6c;
    text-decoration: none;
}

li a:hover{
    color: #fff;
}

/*Copyright Section
===================================*/
/* .copyright{
    position: relative;
}

.copy{
    position:absolute;
    left: 50%;
    top: 0;
    bottom: 0;
} */